@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

$white: #ffffff;
$secondary-color: #555;
$primary-color: #007bff;

@import 'navbar.scss';
@import 'welcome/expertise.scss';
@import 'welcome/about.scss';
@import 'down-menu';
@import "reminds/checklist.scss";
@import "reminds/plan.scss";
@import "knowledge/materials.scss";
@import "knowledge/process.scss";
@import "knowledge/header.scss";
@import "usage/steps.scss";
@import "reminds/statistic.scss";
@import "spinner.scss";
@import "logout.scss"

