@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

$white: #ffffff;
$primary-color: #007bff;
$secondary-color: #555;
$light-background: #f6f9fc;
$padding: 10px;

$auth-button-bg: white;
@import 'navbar.scss';
@import 'first-page.scss';
@import 'second-page.scss';
@import 'button.scss';


