@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

$white: #ffffff;
$primary-color: #007bff;
$secondary-color: #555;
$light-background: #f6f9fc;
$gradient-color: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$padding: 10px;
$min-height: 100vh;

$auth-button-bg: white;

.navbar {
    background-color: $primary-color;
    padding: 0.5rem;
    min-height: 60px; 
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;

    .container-fluid {
        display: flex;
        align-items: center; 
        width: 100%;
    }

    .left-buttons {
        display: flex;
        margin-right: auto; 
    }

    .center-buttons {
        display: flex;
        justify-content: center; 
        flex-grow: 1; 
    }

    .logo {
        margin-left: 250px;
        font-size: 60px;
        color: $white;
        flex-shrink: 0; 
    }

    a {
        color: $white; 
        text-decoration: none;
        margin: 0 15px;
        font-size: 20px; 
        transition: color 0.3s, background-color 0.3s;
    
        &:hover {
            color: $secondary-color !important; 
            background-color: transparent !important; 
        }
    }
    
    

    .auth-button {
        background: $auth-button-bg; 
        border-radius: 20px; 
        padding: 10px 20px; 
        margin-left: 10px; 
        color: $primary-color; 
        border: 2px solid transparent;

        transition: background-color 0.3s, color 0.3s, border 0.3s;

        &:hover {
            color: $white !important; 
            border: 2px solid $white !important;
        }
    }

    .center-buttons a {
        transition: transform 0.3s, background-color 0.3s, color 0.3s;

        &:hover {
            transform: translateY(-3px);
            color: $secondary-color; 
        }
    }
}



.first-page, .second-page {
    margin-top: 40px;

    &.second-page {
    background-color: $primary-color;
    }
}

.first-page {
    margin-top: 140px;

    .container {
        padding: 20px;

        .head {
            text-align: center;
            margin-bottom: 20px;

            h4 {
                color: $primary-color;
                font-size: 20px;
            }

            h2 {
                color: blue;
            }

            p {
                font-size: 16px;
                color: $secondary-color;
            }
        }
    }
}

.cards {
    display: flex;
    justify-content: space-around;
    background-color: $light-background;
    width: 100%;

    .card {
        width: 400px !important;
        height: auto; 
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 20px;
        padding: 15px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
        h4 {
            color: $primary-color;
        }

        p {
            font-size: 16px;
            color: $secondary-color;
        }

        i {
            color: $primary-color; 
            font-size: 40px; 
            margin-bottom: 15px; 
        }

        &:hover {
            transform: translateY(-5px); 
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
        }
    }
}



.second-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    padding: $padding; 
    min-height: 70vh;

    .head {
        text-align: center; 
        margin-bottom: 10px;
        color: $white;
    }

    .container {
        display: flex; 
        width: 100%; 
        max-width: 1200px; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
        padding-top: 30px;
    }

    .missison {
        margin-top: 20px;
        color: $white;
        margin-left: -40px;
        margin-right: 20px; 

        .cards-container {
            display: flex; 
            flex-wrap: wrap; 
            justify-content: space-between; 
            margin-top: 20px; 
            width: calc(100% - 20px);

            .card {
                background: rgba(255, 255, 255, 0); 
                padding: 10px; 
                margin: 10px; 
                width: calc(50% - 30px); 
                text-align: center; 
                border: none; 
                position: relative; 

                &:hover i {
                    color: black; 
                }

                i {
                    font-size: 1.5em; 
                    margin-bottom: 10px; 
                    color: $white;
                }

                .card-body {
                    p {
                        font-size: 1em; 
                        color: $white; 
                        margin: 0; 
                    }
                }
        
                &.expert-team::before,
                &.expert-team::after,
                &.reliable::before,
                &.reliable::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 5px; 
                    background: rgba(255, 255, 255, 0.5);
                }
        
                &.expert-team::before,
                &.reliable::before {
                    left: -10px; 
                }
        
                &.expert-team::after,
                &.reliable::after {
                    right: -10px; 
                }
            }
        }
    }

    .image-container {
        margin-left: 20px; 
        flex-shrink: 0; 
        display: flex; 
        align-items: flex-start;
        justify-content: center;
        min-height: 100px; 
    
        img {
            max-width: 100%; 
            height: auto; 
            max-height: 100%; 
        }
    }
}
















