.down-menu {
    background: linear-gradient(to right, #003a7d, rgba(23, 162, 184));
    padding: 30px 0;
}
.down-menu h4 {
    margin-bottom: 20px;
}
.contact li {
    margin-bottom: 10px;
}
.social i {
    margin-right: 15px;
    font-size: 20px;
}