.first-page {
    margin-top: 10px;
    padding-top: 90px;

    .container {
        padding: 20px;

        .head {
            text-align: center;
            margin-bottom: 20px;

            h4 {
                color: $primary-color;
                font-size: 20px;
            }

            h2 {
                color: #183b56;
            }

            p {
                font-size: 16px;
                color: $secondary-color;
            }
        }
    }
}

.cards {
    display: flex;
    justify-content: space-around;
    background-color: $light-background;
    width: 100%;

    .card {
        flex: 0 0 auto;
        width: 340px; 
        height: 200px; 
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
        h4 {
            font-size: 20px;
            color: #183b56;
        }

        p {
            font-size: 15px;
            color: $secondary-color;
        }

        i {
            color: $primary-color; 
            font-size: 40px;
        }

        &:hover {
            transform: translateY(-5px); 
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
        }
    }
}
