.about{
    background: linear-gradient(to right, #003a7d, rgba(23, 162, 184));
    margin-top: 70px;
}

.image-container{
    margin-top: 30px;
}

.white-line {
    width: 4px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}

.card1 {
    margin: 0 auto;
    transition: transform 0.3s;

    &:hover .bi {
        color: $primary-color !important;
    }
}

@media (max-width: 767px) {
    .mission{
        h2,p{
            text-align: center;
        }
    }
  }